/* css 属性转 class */
.cursor-pointer {
  cursor: pointer;
}
/* 常用属性集合 */
.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-justify {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

